<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A web application called ReadLikeRory, where users can keep track of their reading progress on the Rory Gilmore Reading Challenge">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        
        <!-- Bootstap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

        <!-- REACT -->
        <!-- <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script> -->
    
        <!-- my CSS -->
        <link rel="stylesheet" href="/static/css/site.css">
    
        <!-- favicon -->
        <link rel="icon" href="/static/img/cup-hot.svg">

        <title>ReadLikeRory</title>
      
</head>
<body>
    {% for msg in get_flashed_messages() %}
        <p class="flash-msg">
            {{ msg }}
        </p>
    {% endfor %}  

    <div id="root"></div>

    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="http://unpkg.com/react-router@5.2.0/umd/react-router.min.js"></script>
    <script src="http://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>

    
    <!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> -->
    <!-- <script src="http://unpkg.com/react-router@5.2.0/umd/react-router.min.js"></script>
    <script src="http://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js"></script> -->

    <script src="./static/js/components/HomePage.jsx" type="text/jsx"></script>
    <script src="./static/js/components/CreateAccountPage.jsx" type="text/jsx"></script>
    <script src="./static/js/components/LoginPage.jsx" type="text/jsx"></script>
    <script src="./static/js/components/UserProfilePage.jsx" type="text/jsx"></script>

    <script src="./static/js/App.jsx" type="text/jsx"></script>
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" 
    crossorigin="anonymous"></script>
 
</body>
</html>